<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../img/Favicon.png" type="image/x-icon"/>
         <!-- LIBRERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Coffee</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../style/style.css ">
        <!-- JS -->
        <script src="../js/app.js"></script>
    </head>

    <body>
        <!-- Container -->
        <div class="main">
            <!-- Header -->
            <header>
                <img src="../img/logo.png" alt="logo">
                <nav>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Contact</a></li>
                </nav>
                <a class="sign" href="#" id="open">Sign In</a>
            </header>
            <!-- Container -->
            <div class="container">
                <div class="description-coffee">
                    <span>
                        #Coffe for hot days
                    </span>
                    <h1>Cold Brew</h1>
                    <p>
                        Boots your productivity and build your mood with a glass of coffee in the morning. Coffee has a stimulating effect.
                    </p>
                    <div class="container-price">
                        <button>Order now</button>
                        <div class="price">
                            <span>$16.00 |</span>
                            <sub>Regular price</sub>
                        </div>
                    </div>
                </div>
                <div class="image">
                    <figure>
                        <img src="../img/hero.png" alt="">
                    </figure>
                </div>
                <div class="networks">
                    <box-icon type='logo' name='facebook' color="#fff"></box-icon>
                    <box-icon type='logo' name='youtube' color="#fff"></box-icon>
                    <box-icon type='logo' name='twitter' color="#fff"></box-icon>
                </div>
                <div class="author">
                    <a href="#">&copy; 2024 Luis David</a>
                </div>
            </div>
            <!-- Form -->
            <div class="main-form" id="main-form">
                <div class="container-form">
                    <box-icon name='x' class="closet" id="closet" color="#fff"></box-icon>
                    <form action="#" id="form">
                        <div class="description-form">
                            <h1>Sign In</h1>
                            <P>
                                Welcome back! Sign in to access your favorite flavors and enjoy special offers.
                            </P>
                        </div>
                        <div class="inputs">
                            <input type="text" name="user" id="user" placeholder="User">
                            <span id="userError" class="error"></span>
                            <input type="password" name="password" id="password" placeholder="Password">
                            <span id="passwordError" class="error"></span>
                            <button type="submit" class="button">Check in</button>
                        </div>
                        <div class="btn-groups">
                            <button type="submit" class="google">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="LgbsSe-Bz112c"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
                                <span>Sign in with google</span>
                            </button>
                            <button type="submit" class="iphone">
                                <svg viewBox="0 0 24 24" aria-hidden="true" class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-lrvibr r-m6rgpd r-1gs4q39 r-z80fyv r-19wmn03" style="color: rgb(15, 20, 25);"><g><path d="M16.365 1.43c0 1.14-.493 2.27-1.177 3.08-.744.9-1.99 1.57-2.987 1.57-.12 0-.23-.02-.3-.03-.01-.06-.04-.22-.04-.39 0-1.15.572-2.27 1.206-2.98.804-.94 2.142-1.64 3.248-1.68.03.13.05.28.05.43zm4.565 15.71c-.03.07-.463 1.58-1.518 3.12-.945 1.34-1.94 2.71-3.43 2.71-1.517 0-1.9-.88-3.63-.88-1.698 0-2.302.91-3.67.91-1.377 0-2.332-1.26-3.428-2.8-1.287-1.82-2.323-4.63-2.323-7.28 0-4.28 2.797-6.55 5.552-6.55 1.448 0 2.675.95 3.6.95.865 0 2.222-1.01 3.902-1.01.613 0 2.886.06 4.374 2.19-.13.09-2.383 1.37-2.383 4.19 0 3.26 2.854 4.42 2.955 4.45z"></path></g></svg>
                                <span>Sign up with Apple</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!-- ScrollReveal  -->
        <script src="https://unpkg.com/scrollreveal"></script>
    </body>
</html>